<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!-- <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" /> -->
<!-- <link href="/rickshaw/rickshaw.min.css" rel="stylesheet" /> -->

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/underscore/underscore-min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/d3/dist/d3.min.js"></script>
<!-- <script src="/rickshaw/rickshaw.min.js"></script> -->
