<html>
  <head>
    <title>Login Page</title>
    <% include include.ejs %>
    <!--Made with love by Mutiullah Samim -->

    <link rel="stylesheet" href="/styles/main.css" crossorigin="anonymous" />
    <!--Fontawesome CDN-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <img alt="logo" src="/images/scl-logo.png" />
          </div>
          <div class="card-body">
            <form
              class="form-horizontal"
              role="form"
              method="POST"
              action="/signin"
              accept-charset="UTF-8"
            >
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text icon-center"
                    ><i class="fas fa-envelope"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                />
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text icon-center"
                    ><i class="fas fa-key"></i
                  ></span>
                </div>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <div class="row align-items-center remember">
                <input type="checkbox" />Remember Me
              </div>
              <div class="form-group card-btn">
                <input
                  type="submit"
                  value="Login"
                  class="btn float-right login_btn"
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Don't have an account?<a href="#">Sign Up</a>
            </div>
            <!-- <div class="d-flex justify-content-center">
              <a href="#">Forgot your password?</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
